# =========================
# Compilados / Executáveis
# =========================
*.exe
*.out
*.app
a.out

# =========================
# Objetos e intermediários
# =========================
*.o
*.obj
*.lo
*.s
*.i

# =========================
# Bibliotecas
# =========================
*.a
*.lib
*.so
*.dll
*.dylib

# =========================
# Pastas de build
# =========================
build/
bin/
out/
cmake-build-*/

# =========================
# Debug / Profiling
# =========================
*.gdb
*.dSYM/
*.prof
*.log

# =========================
# IDEs e editores
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db
